html {
	font-size: 62.5%;
}

body {
	color: var(--black);
	font-family: var(--font-text);
	line-height: 1.5;
  	font-weight: 400;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6rem;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
	flex: 1;
	display: flex;
	justify-content: center;
	border: red 1px solid;
	width: 1250px;
	margin: 0 auto;
	padding-top: 2rem;
}

a {
	color: var(--black);
	text-decoration: none;
}

/* COMPOSANT BOUTON */
.btn {
	background-color: var(--gray);
	border-radius: 0.5rem;
	padding: 0.8rem;
	cursor: pointer;
	box-shadow: var(--shadow);
	border: 1px solid var(--gray);
	font-weight: bold;
}

.btn-sm {
	padding: 0.5;
}

/* FORMULAIRE */
.form {
	width: 50rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.field {
	display: flex;
	flex-direction: column;
	row-gap: 0.1rem;
}

.input {
	padding: 0.5rem 0.5rem;
}

.form-action {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
}